/* font-family: 'Akronim', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;*/
/***********************************
    ***** Table Of Contents *****
-----------------------------------
  1. Global Styles
  2. Home
  3. Pages
    3.1 Header
    3.2 Nav
        3.2.1 Nav Toggling
  4.  
  6. Media Queries
    a. small screen
    b. medium screen
    c. large screen
    d. xl screen
***********************************/
/* #EEC1B7 - highlights
#B0C8A4 - nav bars
#503921 - text, accents
#FEF0D4 - background color
#2B471F  - text, accents */

/* variable */
:root {
  --headline-color:#7f6951;
  --body-color:#cecbc8;
  --text-color:#28221e;
  --header-color:#333;
  --footer-color:#333;

  --font-size-logo: 64px;
  --font-size-brand: 45px;
  --font-size-brandsub: 40px;
  --font-size-title: 32px;
  --font-size-subheading: 24px;
  --font-size-subheading2: 20px;
  --font-size-navbar: 18px;
  --font-size-par:15px;

  --font-medium: 500;
  --font-semi-bold: 600;


  /* --headline-color:#a66d2e; */
}
/**********************
  1. Global Styles
***********************/
a { text-decoration: none;}
html { font-size: 10px;}
img {
  max-width: 100%;
  height:auto;
}
p {font: var(--font-size-par) 'Poppins', sans-serif;}
h1 {
  font: var(--font-size-title) 'Poppins', sans-serif;
  color: var(--body-color);
}
h2 {font: var(--font-size-subheading) 'Poppins', sans-serif;}
h3 {font: var(--font-size-subheading2) 'Poppins', sans-serif;}
/**********************
  2. Home
***********************/
.logo {
  font: var(--font-size-logo) 'Akronim', cursive;
  cursor: pointer;
  color: #7f6951; 
  border: solid 2px var(--body-color);
  border-radius: 50%;
  padding: 1rem;
}
.home {
    background-image: url(../images/600Home.jpg); 
    background-position: center;
    background-size: cover;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top:200px;
}
.brandName, .brandName2 {color: var(--body-color);}
.brandName2{
  font: var(--font-size-brandsub) 'Dancing Script', cursive;
}
.brandName{
  font: var(--font-size-brand)  'Prata', serif;
}


/**********************
  3. ABOUT ME
***********************/
body{
  background-color: var(--body-color);
}
header.subPage {
  background-color: var(--headline-color);
}
section {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
 .selfPic {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: solid 2px var(--header-color);
}
/**********************
  3.1 Header
***********************/

header .subPage{
  width: 100%;
  position: fixed;
  height: 15%;
}
.logoSub {
  font: 4.5em 'Akronim', cursive;
  cursor: pointer;
  padding: 1rem 2rem;
}

/**********************
  3.2 Nav
***********************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--font-size-navbar) 'Poppins', sans-serif;
  position:absolute;
  top: 0;
  width: 100%;
}
 nav li {
  border-bottom: 2px solid var(--header-color);
  padding: 1rem;
  background-color: var(--headline-color);
 }
nav li a {display: block;}
nav li a:link {font: var(--font-size-navbar) 'Poppins', sans-serif;}
nav li a:link, nav li a:visited {color: var(--text-color);}
nav li a:hover {
  color:#fef0d4;
  text-shadow: 1.5px 1.5px 2px var(--footer-color);
}
nav li a:active {color:#eec1b7;}
nav li .currentPage {
  color: var(--body-color);
  font-weight: bold;
}

/**********************
  3.2.1 Nav Toggling
***********************/

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1em;
  right: 1em;
  padding: 4px;
  cursor: pointer;
}

#close {
  display: none;
}
 .menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.1s;
  top: 9%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: white;
  list-style: none;
  padding-top: 4em;
 }

 .showMenu {transform: translateY(0);}
nav .menu {padding-top: 0;}

/**********************
  4. SKILLS
***********************/

.skillsBlob{
  width: 50%;
  height: 50%;
}
#skillsInfo1, #skillsInfo2, .skillsData {
  display: grid;
  justify-content: center;
 }
#skillsInfo1, #skillsInfo2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 1rem;
  justify-content: center;
}


/**********************
  3.1 PROJECT
***********************/

:root {
  --menuHeight: 70px;
  --primaryDark: #22292f;
  --primaryMid: #83888d;
  --primaryLight: #e4e3e3;
}


.carousel {
  width: 80%;
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}


.carouselContainer {
  background-color: var(--primaryLight);
  height: 100%;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.carouselItems {
  list-style-type: none;
  height: 100%;
  position: relative;
  transition: transform .25s ease-in;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primaryLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.carouselBtn {
  background-color: transparent;
  border: none;
  color: var(--primaryMid);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carouselBtn.leftBtn { left: -40px; }
.carouselBtn.rightBtn { right: -40px; }

.carouselNav {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  position: relative;
  bottom: 0;
}

.carouselIndicator {
  background-color: var(--primaryMid);
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.carouselIndicator.currentSlide {
  background-color: var(--primaryDark);
}

.isHidden {
  display: none;
}/* --media queries-- */


@media screen and (min-width: 700px) {
  .hamburger{
    display: none;
  }
  .menu {
    position:absolute;
    display: flex;
    flex-direction: row;
    border-bottom: none;
    left: 35%;

    
  }
  nav li {
    border-bottom: none;
}


}